/* Direções gerais do layout */
body {
    background: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: grid;
    gap: 60px;
    margin-top: 60px;
    justify-items: center;
}

/* Características do cabeçalho */
.logo {
    max-width: 100%;
    display: block;
}

.menu a {
    text-decoration: none;
    color: #000;
    background: #fff;
    padding: 15px 30px;
    border-radius: 4px;
}

.menu {
    display: flex;
    gap: 20px;
}

/* Características do conteúdo - criação dos grids */
/* Primeira linha do grid */
.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 40px;
    max-width: 1000px;
}

.produto {
    background: #fff;
    position: relative;
    display: grid;
    align-content: center;
    gap: 20px;
    padding: 40px;
    text-align: right;
}

.produto p {
    margin: 0px;
}

.produto a {
    background: #ee2211;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 4px;
    place-self: end;
}

.bike-foto {
    max-width: 100%;
}

.detalhe {
    display: inline-block;
    width: 60px;
    height: 4px;
    background: #ee2211;
    position: absolute;
    top: 30px;
    right: -30px;
}

/* Segunda linha do grid */
.vantagens {
    padding: 40px;
    text-align: right;
}

/* Estruturando os itens das especificações em outro grid */
.especificacoes {
    background: #fff;
    padding: 40px;
}

.item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}

.item h3 {
    grid-area: 1/2;
    margin: 0px;
}

.item p {
    grid-area: 2/2;
    margin: 0px;
}

/* Rodapé */
.rodape {
    background: #fff;
    padding: 40px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

/* Configurações dos elementos isolados */
h1 {
    font-size: 32px;
    margin: 0px;
}

h2 {
    font-size: 64px;
    color: #c6c6c6;
    align-self: center;
    margin: 0px;
}

p {
    font-size: 20px;
    line-height: 1.3;
}